// element ui 组件库覆盖

.customize-input.el-textarea {
  .el-input__count {
    color: #ffffff;
    background: #000;
    position: absolute;
    font-size: 12px;
    bottom: -15px;
    right: 0px;
    opacity: 0.2;
    padding: 0 5px;
    line-height: 16px;
  }
}
