.main {
  .minHeight();
}
@width: 690px;
.p-w  {
  width: @width;
  margin: 0 auto;
}
.tags-container {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @gray;
}
.sidebar {
  position: fixed;
  right: calc((100vw - 958px)/2);
  margin: auto;
  bottom: 106px;
}
.btns-container {
  border-top: 1px solid @gray;
  border-bottom: 1px solid @gray;
  margin: 20px auto;
  padding: 20px 0;
  .flexCenter();
  flex-direction: column;
}
.btns {
  .flexCenter();
}
.TitleImage {
  display: block;
  margin: 16px auto 0;
  width: @width;
}
.Avatar {
  background: #fff;
  border-radius: 50%;
  vertical-align: top;
}
.Post-Header {
  overflow: hidden;
  width: @width;
  margin: 0 auto;
}
.Post-RichTextContainer {
  width: @width;
  margin: 0 auto;
}
.Post-RichText {
  margin-top: 20px;
}
.Post-Title {
  font-weight: 600;
  font-synthesis: style;
  font-size: 24px;
  line-height: 1.22;
  margin: 24px 0;
  word-wrap: break-word;
}
